@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {    
    background-image: url("/img/blue.png");
    background-repeat: no-repeat;   /* Evita a repetição do background */
    background-attachment: fixed;   /* Evita a distorção do background */
    background-size: cover;         /* Faz com que o background cubra toda página */
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    padding-top: 4rem; /* Faz com que o cabeçalho não interfira com o resto da página e vice-versa */
    animation: push 3s alternate;
}


/* NAVBAR */

a,
a:active,
a::after {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(0, 255, 0);
}

.navbar {
    margin: 0.5rem;
    border-radius: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.532);
    z-index: 1;
}

.container {
    margin: 1rem;
    color: red;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.nav-item {
    color: white;
    padding: 0.5rem;
}

/* CONTEÚDO BIOGRAFIA */

.content {
     position: relative; 
}
/* Define a posição onde o texto principal ficará */

.line {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}
/* Define o alinhamento dos itens contidos na classe .line */

.content-item {
    top:50%;                      
    transform: translate(0, 120%);
    white-space: nowrap;
    font-size: 5rem;
    color: white;
    overflow: hidden;
    animation: writer 2s steps(20) alternate;
  }
  /* Formatação do texto principal da página */

.content-style {
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.532);
}
/* Define o background usado no título da página */

  @keyframes writer {
    from {
      width: 0;
    }
    to {
      width: 57rem;
    }
  }
  /* Animação do título (máquina de escrever) */

  @keyframes push {
    from {
        transform: translateY(-30%);
    }
    to {
        transform: translateY(0);
    }
  }

  /* SOBRE MIM */

  /* .content-style01 {
    color: white;
    margin-top: 1rem;
    margin-left: 1rem;
    border: 1rem;
    border-color: rgba(0, 0, 0, 0.532);
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.532);
    max-width: 50rem;
} */

/* .content-style02 {
    color: white;
    margin-top: 0.5rem;
    margin-left: 1rem;    
    border: 1rem;
    border-color: rgba(0, 0, 0, 0.532);
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.532);
} */

.space {
    color: white;
    margin-top: 1rem;
    margin-left: 23rem;
    border: 1rem;
    border-color: rgba(0, 0, 0, 0.532);
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.532);
    text-align: center;
    margin-top: 35%;
    margin-bottom: 7%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
}

@media screen and (max-height: 768px) {
    .space {
        margin-left: 20rem;
    }
}

@media screen and (max-height: 720px) {
    .space {
        margin-left: 19rem;
    }
}

/* IMAGEM DE PERFIL */

.perfil {
    color: white;
    border-radius: 0.5rem;
    background-color: none;
    max-width: 50rem;
    text-align: center;
    flex-direction: column;
}

.perfil-img img {
    float: left;
    border-radius: 50%;
    border: 0.5rem solid rgba(0, 0, 0, 0.532);
    height: 32rem;
    margin-left: 6rem;
    transition: all 0.6s linear;
}

.perfil-img img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.perfil-text {
    text-align: center;
    float: right;
    margin-right: 1rem;
    height: 32rem;
    font-size: 2.8rem;
    display: inline-block;
    max-width: 44rem;
    color: white;
    border-color: rgba(0, 0, 0, 0.532);
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.532);
    text-align: center;
    flex-direction: column;
    margin-bottom: 5%;
}

@media screen and (max-height: 768px) {
    .perfil-img img {
        height: 30rem;
        margin-left: 3rem;
    }
    .perfil-text {
        height: 30rem;
    }
}

@media screen and (max-height: 720px) {
    .perfil-img img {
        height: 28rem;
        margin-left: 1.5rem;
    }
    .perfil-text {
        height: 28rem;
        font-size: 2.5rem;
    }
}

/* PROJETOS */

.space2 {
    color: white;
    margin-left: 23rem;
    border: 1rem;
    border-color: rgba(0, 0, 0, 0.532);
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.532);
    text-align: center;
    margin-top: 50%;
    margin-bottom: 7%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
}

@media screen and (max-height: 768px) {
    .space2 {
        margin-left: 20rem;
    }
}

@media screen and (max-height: 720px) {
    .space2 {
        margin-left: 19rem;
    }
}

.projects {
    margin-left: 26.5rem;
    max-width: 5rem;
    display: flex;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 5rem;
}

@media screen and (max-height: 768px) {
    .projects {
        margin-left: 20.45rem;
    }
}

@media screen and (max-height: 720px) {
    .projects {
        margin-left: 23.5rem;
    }
}

.projects-item {
    background-color: rgba(0, 0, 0, 0.532);
    border-radius: 0.5rem;
}

.projects-img img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    max-width: 40rem;
}

@media screen and (max-height: 720px) {
    .projects-img img {
        max-width: 30rem;
    }
}

.projects-info {
    color: white;
    padding: 1rem;
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.projects-price {
    color: white;
    background-color: rgba(0, 0, 0, 0.632);
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1rem;
    transition: all 0.2s linear;
}

@media screen and (max-height: 720px) {
    .projects-info {
        font-size: 1.5rem;
    }
}

.projects-price:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}


/* RODAPÉ */

.footer {
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: smaller;
    vertical-align: middle;
    padding: 1rem;
}